.main {
  position: relative;
  display: grid;
  grid-row: 2 / 3;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @include small-desktop {
    grid-row: 2 / 3;
    grid-template-columns: rem(416) 1fr;
    grid-template-rows: 1fr;
    gap: 0 rem(32);
  }

  @include desktop {
    grid-template-columns: rem(464) 1fr;
  }
}
