.subscription_footer {
  @include loading-right;

  grid-row: 1 / 2;
  padding: rem(32) rem(16);

  @include small-tablet {
    grid-column: 5 / 9;
    grid-row: 1 / 2;
    padding: rem(32) rem(24);
  }

  @include tablet {
    grid-column: 8 / 13;
  }

  @include small-desktop {
    display: none;
  }
}
