<ul class="menu menu_mobile">
  <li class="menu__item">@include('..//btn/btn-house.html')</li>
  <li class="menu__item">@include('../btn/btn-search.html')</li>
  <li class="menu__item">@include('../btn/btn-like.html')</li>
  <li class="menu__item">@include('../btn/btn-basket.html')</li>
  <li class="menu__item">@include('../btn/btn-profile.html')</li>
  <li class="menu__btn-menu">
    <button class="btn btn-menu" aria-label="Открыть меню" aria-expanded="false" data-burger-mobile type="button">
      <span class="btn-menu__list">
        <span class="btn-menu__list-item"><span class="btn-menu__list-item-point"></span></span>
        <span class="btn-menu__list-item"><span class="btn-menu__list-item-point"></span></span>
        <span class="btn-menu__list-item"><span class="btn-menu__list-item-point"></span></span>
      </span>
    </button>
  </li>
</ul>
