<div class="contacts contacts_aside">
  <div class="contacts__item">
    <h3 class="contacts__title title title_big-letters">Контакты</h3>
    <ul class="contacts__list">
      <li class="contacts__list-item">
        <a href="tel:+73833802216" class="contacts__link" aria-label="Позвонить по указанному номеру">
          @include('../../img/icon-phone.svg')
          <span>+7 383 380-22-16</span>
        </a>
      </li>
      <li  class="contacts__list-item">
        <a href="mailto:info@vi-c.ru" class="contacts__link" aria-label="Написать электронное письмо по указанному адресу">
          @include('../../img/icon-mail.svg')
          <span>info@vi-c.ru</span>
        </a>
      </li>
      <li class="contacts__list-item">
        <span class="contacts__text">
          @include('../../img/icon-map.svg')
          <span>Новосибирск</span>
        </span>
      </li>
    </ul>
  </div>

  <div class="contacts__item">
    <h3 class="contacts__title title title_big-letters">Социальные сети</h3>
    <ul class="contacts__list">
      <li class="contacts__list-item">
        <a href="https://wa.me/79537802216" target="_blank" class="contacts__link" aria-label="Перейти в приложение WhatsApp">
          @include('../../img/icon-whatsapp.svg')
          <span>+7 953 780-22-16</span>
        </a>
      </li>
      <li class="contacts__list-item">
        <a href="https://vk.com/vicosmetic" target="_blank" class="contacts__link" aria-label="Перейти в приложение ВКонтакте">
          @include('../../img/icon-vk.svg')
          <span>ВКонтакте</span>
        </a>
      </li>
    </ul>
  </div>
</div>
