.header {
  @include flex-all-sb;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  padding: rem(8) rem(16);
  width: 100%;
  height: var(--header-height);
  box-sizing: border-box;
  background-color: var(--light-color);
  transition: transform var(--animation-time-200) ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 1px;
    background-color: var(--dark-color);
  }

  &::before {
    left: 0;
    transform: translate3d(-100%, 0, 0);

    @include small-tablet {
      width: calc(50% + rem(8));
    }

    @include tablet {
      width: calc((100% / 12) * 7 + rem(8));
    }

    @include small-desktop {
      width: rem(416);
    }

    @include desktop {
      width: rem(464);
    }
  }

  &::after {
    right: 0;
    transform: translate3d(100%, 0, 0);

    @include small-tablet {
      width: calc(50% - rem(8));
    }

    @include tablet {
      width: calc((100% / 12) * 5 - rem(8));
    }

    @include small-desktop {
      width: calc(100% - rem(416));
    }

    @include desktop {
      width: calc(100% - rem(464));
    }
  }

  &_hidden {
    transform: translate3d(0, calc(-1 * var(--header-height)), 0);
    transition: transform var(--animation-time-250) ease-out;
  }

  &__menu-item {
    display: none;

    @include small-tablet {
      display: block;
      margin-left: rem(16);
    }
  }

  &__btn-menu {
    margin-left: rem(16);

    @include small-desktop {
      display: none;
    }
  }

  @include small-tablet {
    padding: rem(8) rem(24);
  }

  @include small-desktop {
    padding: rem(8) rem(32);
  }
}
