.marker {
  @include flex-all-center;

  border-radius: 50%;
  padding: rem(4);
  min-width: rem(20);
  box-sizing: border-box;
  font-weight: var(--fw-bold);
  font-size: rem(12);
  line-height: 1;
  color: var(--light-color);
  background-color: var(--dark-color);
  aspect-ratio: 1/1;
}
