<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0">
  <meta name="description" content="Проект разработан на основе материалов сайта компании viCosmetics. Тексты принадлежат правообладателю, проект для некоммерческого использования.">

  <title>viCosmetics</title>

  <link rel="icon" href="favicon.ico" sizes="any">
  <link rel="icon" href="favicon.svg" type="image/svg+xml">

  <link rel="preload" href="fonts/Nunito-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Nunito-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
